* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #444;

    border-top: 10px solid #1098ad;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 60px;
}

nav {
    font-size: 16px;
}

article {
    margin-bottom: 60px;
}

.post-header {
    margin-bottom: 40px;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 50px 0;
    width: 500px;
}

